*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-image: url("./index.jpeg");
    background-size: cover;
}
.container{
    padding:5%;
    text-align: center;
}
form #heading{
    font-size: 1.5rem;
    border-radius: 5%;
}
.container #add{
    font-size: 1rem;
    padding: 1%;
    cursor: pointer;
}
#form-data{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#form-data li{
    padding: 2%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(#e66465, #9198e5);
    font-size: 2rem;
}

.jsList{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.jsList p {
    margin: 2%;
}


#form-data li p{
    font-size: 1.5rem;
    background-color: black;
    color: white;
}

#description{
    list-style:none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#description li {
    padding: 2%;
    display: flex;
    flex-direction: column;
    background-color: grey;
    font-size: 1.5rem;
    width: 70%;
    position: relative;
    top: -10rem;
}

#description .header-pop{

    display: flex;
    justify-content: space-between;

}
.header-pop button{
    font-size: 1.5rem;
    background: none;
    color: white;
    box-sizing: border-box;
}

#description .description-div{
    display:none;
}


